@import "../../../variables";
@import "../../../mixins";

#footer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  
    h1 {
        color: $light;
    }
}