@import "../../../variables";
@import "../../../mixins";

#coverPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.trailerContainer {
  height: 300px;
  overflow: hidden;
  border-radius: $curve;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 160px;
}

.trailer {
  width: $width;
  height: auto;
}

.backgroundTitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-text-stroke: 2px $primary;
  color: transparent;
  font-size: 140px;
  text-shadow: 0 0 0.5em $secondary, 0 0 1em $primary;
  z-index: 2;
  text-align: center;
  position: absolute;
  margin-bottom: 80px;
}

.bottomContainer {
  width: $width;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 80px;
  z-index: 2;
}

.sloganContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  .button {
      margin-right: 20px;
      margin-left: 20px;
  }
}

.slogan {
  font-size: 20px;
  font-weight: 100;
  color: $light;
}

.initials {
    text-align: end;
}
.initials::after {
    
    color: $light;
    font-size: 30px;
    padding: 2px;
    content: "TMP";
}
.initials:hover::after {
    text-shadow: 1px 1px 20px $primary, 1px 1px 5px $secondary;
    content: "The Movie Place";
}