@import "../../variables";
@import "../../mixins";

.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cover {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.slogan {
  font-size: 30px;
  font-weight: 400;
  color: $light;
  margin-bottom: 60px;
  margin-top: 60px;
}

.trailer {
  width: auto;
  height: 320px;
}

.trailerContainer {
  width: 440px;
  height: 220px;
  overflow: hidden;
  border-radius: $curve;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundTitle {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: 2px $primary;
  color: transparent;
  font-size: 100px;
  margin-top: -170px;
  margin-bottom: 60px;
  text-shadow: 0 0 0.5em $secondary
}
