@import "../../variables";
@import "../../mixins";

.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#cover {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.slogan {
  font-size: 24px;
  font-weight: 100;
  color: $light;
  z-index: 2;
  position: absolute;
  bottom: 100px;
}

.trailer {
  width: $width;
  height: auto;
}

.trailerContainer {
  height: 300px;
  overflow: hidden;
  border-radius: $curve;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 150px;
}

.backgroundTitle {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-stroke: 2px $primary;
  color: transparent;
  font-size: 140px;
  text-shadow: 0 0 0.5em $secondary, 0 0 1em $primary;;
  z-index: 2;
  text-align: center;
  position: absolute;
  margin-bottom: 90px;
}

.coverButton {
  margin-left: 20px;
}

#us {
  width: 100vw;
  height: 100vh;
  display: flex;
}