@import '../../variables';
@import "../../mixins";

.header {
  width: 100vw;
  backdrop-filter: blur($blur);
  position: fixed;
  height: 70px;
  z-index: 20;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  width: $width;
  height: 70px;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: (-$width/2);
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  a {
    color: $light;
    font-size: 24px;
    font-weight: 600;
  }
  
}

.sections {
  button {
    background-color: transparent;
    color: $light;
    border: none;
    cursor: pointer;
    font-size: 20px;
    svg {
      margin-bottom: -5px;
      margin-left: 5px;
      font-size: 20px;
    }
  }
}

.icons {
  a {
    font-size: 20px;
    padding-left: 10px;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $secondary;
  transform: translateY(-100vh);
  transition: all 0.5s ease-in-out;
  padding: 10vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.active {
  transform: translateY(0vh);
  
}

.links {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  a {
    font-size: 50px;
    font-weight: 100;
    color: $placeholder;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $shadow;
    transition: all 0.5s;
  }
  a:hover {
    background-color: $primary;
    .image {
      background-image: url(https://raw.githubusercontent.com/HerreraCesar/movies-website/master/media/backgrounds/background_1.jpg) !important;
    }
  }
}

.linkPicture {
  height: 100%;
  display: flex;
  align-items: center;
  img {
    width: 430px;
    height: auto;
  }
}

