@import '../../variables';
@import "../../mixins";



.header {
  display: flex;
  flex-flow: row nowrap;
  width: $width;
  height: 70px;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: (-$width/2);
  justify-content: space-between;
  align-items: center;
  justify-self: center;
}

.links {
  display: flex;
  flex-flow: row nowrap;
}

.links a {
  padding: $s;
  font-size: 16px;
  font-weight: 300;
}

.logo a {
  font-size: 20px;
  font-weight: 600;
}