// COLORES

$primary: #6a00ff;
$secondary: #27005e;
$light: #ffffff;
$dark: #171717;
$placeholder: #e3e3e3;
$shadow: #1d103ae8;


//  BORDES

$curve: 10px;


// DESENFOQUE

$blur: 10px;


// TIPOGRAFÍAS

$font: 'Akshar', sans-serif;


// MÁRGENES Y SEPARACIONES

$s: 10px;
$m: $s*2;
$l: $s*3;
$xl: $s*4;
$xxl: $s*5;

// ANCHO PÁGINA

$width: 80vw;