// COLORES

$primary: #6a00ff;
$secondary: #27005e;
$light: #ffffff;
$dark: #171717;
$placeholder: #e3e3e3;
$shadow: #1d103ae8;

//  BORDES

$curve: 10px;

// DESENFOQUE

$blur: 15px;

// TIPOGRAFÍAS

$font: 'Akshar', sans-serif;

// ANCHO PÁGINA

$width: 80vw;