// VARIABLES

@import "variables";
@import "mixins";

// ESTILOS GLOBALES

* {
  margin: 0rem;
  padding: 0rem;
  font-family: $font;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

* a, h1, h2, h3 {
  color: $light;
}

body {
  background-color: $dark;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $primary $dark;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: $dark;
}
*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  border: 3px solid transparent;
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: $curve;
  background: $primary;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  color: $light;
  font-size: 20px;
}

.button:hover {
  box-shadow: 7px 5px 56px -14px $primary;
}

.button:active {
  transform: scale(0.95);
  box-shadow: 7px 5px 56px -10px $primary;
}

// IMPORTACIONES PARCIALES PAGINAS

@import "components/pages/account/Account.scss";
@import "components/pages/contributions/Contributions.scss";
@import "components/pages/home/Home.scss";
@import "components/pages/lists/Lists.scss";
@import "components/pages/not-found/NotFound.scss";
@import "components/pages/recommender/Recommender.scss";
@import "components/pages/search/Search.scss";

// IMPORTACIONES PARCIALES SECCIONES
@import "components/sections/contact/Contact.scss";
@import "components/sections/cover-page/CoverPage.scss";
@import "components/sections/details/Details.scss";
@import "components/sections/footer/Footer.scss";
@import "components/sections/header/Header.scss";
@import "components/sections/loader/Loader.scss";
@import "components/sections/login/Login.scss";
@import "components/sections/menu/Menu.scss";
@import "components/sections/watch/Watch.scss";

// RESPONSIVIDAD

@import "responsive";
